$font-base: 16;
$fonts: (64, 40, 24, 20, 18, 16, 14);

$colors: (
  white: #fff,
  black: #000,
  neutral-200: #3F3A51,
  neutral-300: #676773,
  neutral-400: #9C99A4,
  neutral-600: #C1C1CE,
  neutral-700: #EDEDF1,
  neutral-800: #FCFCFE,
  neutral-900: #F7F7FB,
  accent-800: #F2397C,
  accent-900: #E52A6E,
  bg: var(--color-neutral-900),
  icon: var(--color-neutral-600),
  menu-icon: var(--color-neutral-300),
  border: var(--color-neutral-700),
  heading: var(--color-neutral-200),
  text-1: var(--color-neutral-300),
  text-2: var(--color-neutral-400),
  dashboard-card-bg: var(--color-neutral-800),
  dashboard-list-item-bg: var(--color-neutral-900),
);

$dark-colors: (
  neutral-300: #CECBD6,
  neutral-400: #A19DAC,
  neutral-600: #6B667A,
  neutral-700: #2F2C3A,
  neutral-800: #1F1D2B,
  neutral-900: #171422,
  bg: var(--color-neutral-900),
  icon: var(--color-neutral-600),
  menu-icon: var(--color-neutral-300),
  border: var(--color-neutral-700),
  heading: var(--color-white),
  text-1: var(--color-neutral-300),
  text-2: var(--color-neutral-400),
  dashboard-card-bg: var(--color-neutral-800),
  dashboard-list-item-bg: var(--color-neutral-700),
);

$breakpoints: (
  xs: 482px,
  s: 640px,
  m: 992px,
  l: 1280px,
  xl: 1680px,
  xxl: 1920px,
);

$breakpoint-fonts: (
  xs: 3.31950207vw,
  s: 2.5vw,
  m: 1.61290332vw,
  l: 1.25vw,
  xl: 0.95238095vw,
  xxl: 0.83333333vw,
)
