@use "src/styles/styles" as *;

.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: rem(40);
  height: rem(40);

  &.active {
    .line-1 {
      transform: translate(0, rem(1)) rotate(45deg);
    }

    .line-2 {
      transform: translate(0, rem(-1)) rotate(-45deg);
    }
  }
}

.line {
  display: block;
  width: rem(16);
  height: rem(2);
  background: color(icon);
  border-radius: rem(2);
  transition: transform .25s ease-in-out;

  &-1 {
    transform: translate(0, rem(-2));
  }

  &-2 {
    transform: translate(0, rem(2));
  }
}