@use "../utils/_mixins.scss" as *;
@use "../utils/_functions.scss" as *;

html {
  @include generate-fonts;
  @include generate-colors;
  @include generate-breakpoints;
}

.theme-dark {
  @include generate-dark-colors;
}

body {
  color: color(bg);
  background: color(bg);
}

main {
  color: color(heading);
}

