@use '../utils/functions' as *;

h1, h2, h3, h4 {
  line-height: 120%;
}

p {
  line-height: 180%;
}

h1 {
  font-size: font(56);
}

h2 {
  font-size: font(32);
}

h3 {
  font-size: font(20);
}

h4 {
  font-size: font(16);
}

.p1 {
  font-size: font(24);
}

.p2 {
  font-size: font(20);
}

.p3 {
  font-size: font(18);
}

.p4 {
  font-size: font(16);
}

.p5 {
  font-size: font(14);
}

.p6 {
  font-size: font(12);
}